/*
 *
 * SLIDER BLOCK
 *
*/

.slider {
	background: url(../images/hero-bg-small.jpg) no-repeat left top;
	background-size: cover;
	position: relative;
	height: 100%;

	@media screen and (min-width: em-calc(1200)) {
		background-image: url(../images/hero-bg.jpg);
	}

	@media screen and (min-width: em-calc(600)) {
		background-image: url(../images/hero-bg-medium.jpg);
	}
}

.slider-item {
	position: absolute;
	color: $color-primary;
	width: 100%;
	top: 40%;

	&__title {
		font-size: em-calc(72);
		margin: 0 0 rem-calc(20);
	}

	&__descr {
		font-family: $font-family-primary;
		font-size: em-calc(30);
		margin: 0;
	}
}