/*
 *
 * SETTING
 *
*/

// COLOR
$color-primary: #e9e5db;
$color-secondary: #61605f;
$color-text: #3c3930;
$color-text-light: #e9e5db;
$color-link: #448D7A;

$body-bg: #EEE;

// Font
$font-family-primary: 'caviar_dreamsregular', sans-serif;
$font-family-secondary: 'lobster_tworegular', serif;

$rem-base: 18px;

// Breakpoint
$small-screen: rem-calc(640);
$medium-screen: rem-calc(1025);

